
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime today = DateTime.Now;
}

@using Capstone.Web.Models
@model Park

<h2 class="parkTitle">@Model.Name, @Model.State</h2>
<div class="entireparkdetail">
    <div class="imgdiv"> <img src="~/Content/img/parks/@(Model.ParkImage.ToLower()).jpg" /></div>
    <div class="detailText">
        <p> @Model.Description </p><br />
        <p><em class="quote">"@Model.Quote "- @Model.QuoteSource</em></p><br />
        <p><span class="textTitle">Acreage:</span>@Model.Acreage.ToString("N0")</p>
        <p><span class="textTitle">Elevation:</span> @Model.Elevation Ft</p>
        <p><span class="textTitle">Miles Of Trails:</span> @Model.MilesOfTrail mi</p>
        <p><span class="textTitle">Number Of Campsites:</span> @Model.NumberOfCampSites.ToString("N0")</p>
        <p><span class="textTitle">Climate:</span> @Model.Climate </p>
        <p><span class="textTitle">Year Found:</span> @Model.YearFounded</p>
        <p><span class="textTitle">Annual Vister count:</span> @Model.AnnualVisitorCount.ToString("N0") </p>
        <p><span class="textTitle">Entry fee:</span> @Model.EntryFee.ToString("C") </p>
        <p><span class="textTitle">Number of Animal Species:</span> @Model.NumberAnimalSpecies</p>
    </div>

    <br />

    <h3 class="weatherTitle">5 Day Weather Forecast for @Model.Name</h3>

    <div class="weather">
        
        @foreach (Forecast forecast in Model.FiveDayForecast)
        {
            <div class="singleDayForecast">
                
                    
                        @if(today.AddDays(forecast.ForecastDay-1).DayOfWeek==today.DayOfWeek)
                         {
                              <p class="dayOfWeek"> Today </p>
                         }
                        else
                         {
                              <p class="dayOfWeek">@today.AddDays(forecast.ForecastDay-1).DayOfWeek.ToString() </p>
                         }
                     
                <img src="~/Content/img/weather/@(forecast.Condition).png" class="weatherImage" />

                @if (!@Model.IsFahrenheit){<p>@forecast.GetCelsius(forecast.HighTemp).ToString("N0")°C</p>}
                else{<p>@forecast.HighTemp°F</p>}

                
                @if (!@Model.IsFahrenheit){<p>@forecast.GetCelsius(forecast.LowTemp).ToString("N0")°C</p>}
                else{<p>@forecast.LowTemp°F</p>}

                 <p class="condition">@forecast.Condition.ToUpper()</p>
                <p class="advisory">@forecast.GetAdvisory()</p>
                <p class="advisory">@forecast.GetTempAdvisory()</p>
            </div>
        }
    </div>
</div>
