@{ 
    bool isFahrenheit = (bool)Session["isFahrenheit"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    <header>
        <img src="~/Content/img/logo.png" class="logo"/>
    </header>
    <nav>
        <ul>
            <li>@Html.ActionLink("National Parks", "Index", "Home")</li>
            <li>@Html.ActionLink("New Survey", "NewSurvey", "Home")</li>
            <li>@Html.ActionLink("Survey Results", "SurveyResult", "Home")</li>
            @if (isFahrenheit) {<li>@Html.ActionLink("Change Temperature To Celsius", "Switch", "Home")</li> }
            else{<li>@Html.ActionLink("Change Temperature To Fahrenheit", "Switch", "Home")</li> }
            
        </ul>
    </nav>

    <section id="main">

        @RenderBody()

    </section>
    <footer> <br /> </footer>
</body>
</html>